<html>
   <head>
      <title>CRUD APP</title>
      <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
      <link rel="shortcut icon" href="{{url_for('static',filename='chubb.png')}}">
   </head>

   <body>
      {% block body %}
      <div class="container">
         <div class="well text-center">
            <h1>CHUBB App Flask</h1>
         </div>
      </div>
      <div class='container'>
         <div class='row'>
            <div class='col md-12'>
               <h2>Test Cases <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add Test Case</button></h2>
               {% with messages = get_flashed_messages() %}
               {% if messages %}
               {% for message in messages %}
               <div class="alert alert-success alert-dismissable" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="ture">x</span>
                 </button>
                  {{ message }}

               </div>


               {%endfor%}
               {%endif%}
               {%endwith%}
               <!-- Modal -->



               <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">

                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Please Insert data</h4>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('insert')}}" method="POST">
                          <div class="form-group">
                            <label>Test Case Name:</label>
                            <input type="text" class="form-control" name="Test_Case_Name" required="1">
                          </div>
                          <div class="form-group">
                            <label>Test Case:</label>
                            <input type="text" class="form-control" name="Test_Case" required="1">
                          </div>
                          <div class="form-group">
                            <label>Source query:</label>
                            <input type="text" class="form-control" name="Source_Query" required="1">
                          </div>
                          <div class="form-group">
                            <label>Target query:</label>
                            <input type="text" class="form-control" name="Target_Query" required="1">
                          </div>
                          <div class="form-group">
                            <button class="btn btn-primary" type="submit">Insert Data</button>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

            </div>

      <table id = "demo" class="table table-striped">
         <tr>
            <th>Serial</th>
            <th>Test Case Name</th>
            <th>Test Case</th>
            <th>Source Query</th>
            <th>Target Query</th>
         </tr>

         {% for row in students %}
         <tr data-toggle="collapse" data-target="#cars{{row.0}}" class="accordion-toggle">
           <th colspan="6">Test Case {{row.0}}</th>
         </tr>
         <tbody class="accordian-body collapse" id="cars{{row.0}}">
           <tr>
             <td>{{row.0}}</td>
             <td>{{row.1}}</td>
             <td>{{row.2}}</td>
             <td>{{row.3}}</td>
             <td>{{row.4}}</td>
             <td>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Expand</a>
                  <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                  <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
             </td>
          </tr>
          <tr class="collapse" id="collapseExample">
            <th colspan="1"></th>
            <th colspan="2">
              <h4>Select Source</h4>
              <form>
              <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseSourceDB" id="Database" name="Source" value="Database">
              <label for="male">Database</label><br>
              <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseSourceFF" id="Flat File" name="Source" value="Flat File">
              <label for="female">Flat File</label><br>
            </form> </th>
            <th colspan="2">
              <h4>Select Target</h4>
              <form>
              <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseTargetDB" type="radio" id="Database" name="Target" value="Database">
              <label for="male">Database</label><br>
              <input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseTargetFF" type="radio" id="Flat File" name="Target" value="Flat File">
              <label for="female">Flat File</label><br>
            </form> </th>
          </tr>
          <tr id="collapseSourceDB" class="panel-collapse collapse">
            <th colspan="1"></th>
            <th colspan="2">
              <div class="form-group">
                <label>Source Database Server</label>
                <input type="text" class="form-control" name="Source Database Server" required="1" maxlength="50" size="4">
                </div>
            </th>
            <th colspan="2">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="Username" required="1" maxlength="50" size="4">
                </div>
            </th>
            <th colspan="2">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="Password" required="1" maxlength="50" size="4">
                </div>
            </th>
          </tr>
          <tr id="collapseTargetDB" class="panel-collapse collapse">
            <th colspan="1"></th>
            <th colspan="2">
              <div class="form-group">
                <label>Target Database Server</label>
                <input type="text" class="form-control" name="Target Database Server" required="1" maxlength="50" size="4">
                </div>
            </th>
            <th colspan="2">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="Username" required="1" maxlength="50" size="4">
                </div>
            </th>
            <th colspan="2">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="Password" required="1" maxlength="50" size="4">
                </div>
            </th>
          </tr>
          <tr id="collapseSourceFF" class="panel-collapse collapse">
            <th colspan="1"></th>
            <th colspan="2">
              <div class="form-group">
                <label>Target Flat File</label>
                <input type="text" class="form-control" name="Source Flat File" required="1" maxlength="50" size="4">
                </div>
          </tr>
          <tr id="collapseTargetFF" class="panel-collapse collapse">
            <th colspan="1"></th>
            <th colspan="2">
              <div class="form-group">
                <label>Target Flat File</label>
                <input type="text" class="form-control" name="Target Flat File" required="1" maxlength="50" size="4">
                </div>
          </tr>
          <tr>
            <th colspan="1"></th>
            <th>
              <td>
                   <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-block" onclick="return confirm('Are you sure to Execute?')">Execute Test Case</a>
              </td>
            </th>
          </tr>
        </tbody>

         <div class="modal fade" id="modaledit{{row.0}}" role="dialog">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Insert data</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('update')}}" method="POST">
                    <div class="form-group">
                      <label>Test Case Name:</label>
                      <input type="hidden" name="id" value={{row.0}}>
                      <input type="text" class="form-control" name="Test_Case_Name" value={{row.1}}>
                    </div>
                    <div class="form-group">
                      <label>Test Case:</label>
                      <input type="text" class="form-control" name="Test_Case" value={{row.2}}>
                    </div>
                    <div class="form-group">
                      <label>Source Query:</label>
                      <input type="text" class="form-control" name="Source_Query" value={{row.3}}>
                    </div>
                    <div class="form-group">
                      <label>Target Query:</label>
                      <input type="text" class="form-control" name="Target_Query" value={{row.3}}>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Update Data</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
         </div>
         {% endfor %}
      </table>
        </div>
      </div>
      {% endblock %}
   </body>
   <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</html>
